<nav class="navbar navbar-expand-xl " role="navigation">

    <div class="navbar-nav container-fluid">
        <img src="../assets/images/logo.png" alt="">
        <a class="navbar-brand" href="#" style="font-family:Verdana, Geneva, Tahoma, sans-serif;">XYPO</a>
        <a class="nav-item nav-link active" [routerLinkActive]="'/'">Home </a>
        <a class="nav-item nav-link " href="#">About</a>
        <a class="nav-item nav-link" href="#">Features</a>
        <a class="nav-item nav-link " href="#">Services</a>
        <a class="nav-item nav-link" href="#">Pricing</a>
        <a class="nav-item nav-link " href="#">More</a>

    </div>
</nav>

<router-outlet></router-outlet>