<div class="outer">
    <div class="inner">
        <div class="left">

            <div class="title">
                <p>We Are New But Doing Great</p>
                <h2>We give the power</h2>
                <h2>back to the user</h2>
            </div>
            <button class="btn btn-group-lg" type="submit">Explore Us</button>


        </div>
        <div class="right">
            <div class="img-box">

            </div>
            <div>
                <h4>Delivering the services You need to succeed</h4>

            </div>
            <div class="foot">
                <h4>We are in the market for providing the great services and automations in machinery</h4>
            </div>

        </div>

    </div>

    <div class="end">
        <p>copyright @ {{date}}</p>
    </div>
